section {
  margin: 20px 0 20px 0;
}

.info-text {
  font-size: 1.1em;
}

.full-width {
  width: 100%;
}

.card {
  margin-bottom: 20px;
}

/* Logo & Header */

header {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  padding: 10px;
}

#logo-container {
  display: inline-flex;
  flex-direction: column;
}

#logo-text {
  padding-top: 15px;
  padding-bottom: 5px;
}

#mm-logo {
  width: 100%;
}

/* Encrypt/Decrypt */

#consolelog {
  position: fixed;
  z-index: -100;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 10px;
  font-family: 'Merriweather', serif;
  color: forestgreen;
  word-break: break-all;
}
